.section {
  width: 100%;
  padding: 32px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 24px;
    padding: 0 16px;

    &-title {
      font-family: "Mallorga", serif;
      font-size: 32px; /* Adjust headline size */
      display: flex;
      flex-direction: column-reverse;
      gap: 8px;
    }

    &-subtitle {
      font-family: "Quicksand", sans-serif;
      font-size: 12px;
      font-weight: 600;
    }
  }

  &__content {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    padding: 0 16px;

    &-scrollable {
      display: flex;
      padding: 0 16px;
      flex-wrap: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;

      gap: 24px;
      .card {
        width: 475px;
        height: 100%;
      }
    }

    &-two-col {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      padding: 0 16px;

      .card-title {
        font-size: 14px;
      }
    }

    &-three-col {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 48px;
      padding: 0 16px;
      justify-items: center;

      .card--info {
        max-width: 350px;
      }

      .card-title {
        font-size: 14px;
      }
    }
  }

  &-gallery {
    width: 100%;
    padding: 16px;
  }

  &-hero {
    position: relative; /* Allows positioning of child elements */
    width: 100%; /* Full width of the page */
    height: 800px;
    padding: 16px;
    background-size: cover; /* Make sure the image covers the entire section */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
    background-repeat: no-repeat; /* Prevent repeating of the image */
    overflow: hidden; /* Ensures no child element overflows */

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Creates a dark overlay */
      z-index: 1; /* Keeps the overlay above the background image */
    }

    &__content {
      position: relative; /* Needed for z-index to work */
      z-index: 2; /* Keeps content above the overlay */
      color: #fff; /* White text for contrast */
      text-align: center; /* Center the text */
      display: flex;
      gap: 24px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      &-title {
        font-family: "Mallorga", serif;
        font-size: 48px; /* Adjust headline size */
        max-width: 1200px;
      }

      &-description {
        font-size: 16px;
        max-width: 1200px;
      }
      p {
        font-size: 14px;
      }
    }
  }

  &-banner {
    position: relative; /* Allows positioning of child elements */
    width: 100%; /* Full width of the page */
    height: 400px;
    padding: 16px;
    background-size: cover; /* Make sure the image covers the entire section */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Keeps the background image fixed while scrolling */
    background-repeat: no-repeat; /* Prevent repeating of the image */
    overflow: hidden; /* Ensures no child element overflows */

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Creates a dark overlay */
      z-index: 1; /* Keeps the overlay above the background image */
    }

    &__content {
      position: relative; /* Needed for z-index to work */
      z-index: 2; /* Keeps content above the overlay */
      color: #fff; /* White text for contrast */
      text-align: center; /* Center the text */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      &-subtitle {
        font-family: "Quicksand", sans-serif;
        font-size: 12px;
        font-weight: 600;
      }

      &-title {
        font-family: "Mallorga", serif;
        font-size: 48px; /* Adjust headline size */
        margin-bottom: 24px;
      }

      &__description {
        font-size: 16px;
        color: var(--text-dark);
      }
    }
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 32px 16px;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 24px;
      max-width: 800px;
      flex: 1;
    }

    &__title {
      font-family: "Mallorga", serif;
      font-size: 32px; /* Adjust headline size */
      margin-bottom: 8px;
    }

    &__subtitle {
      font-family: "Quicksand", sans-serif;
      font-size: 12px;
      font-weight: 600;
      text-align: left;
    }

    &__description {
      font-size: 16px;
      color: var(--text-dark);
    }

    &__cta {
      width: 100%;
      .btn {
        width: fit-content;
      }
    }

    &--package {
      .section-content {
        &__text {
          display: grid;
          grid-template-columns: "1fr 1fr";
          gap: 24px;
          max-width: 800px;
          flex: 1;
          grid-template-areas:
            "subtitle subtitle"
            "title title"
            "description details"
            "cta cta";
        }

        &__title {
          grid-area: title;
          font-family: "Mallorga", serif;
          font-size: 32px; /* Adjust headline size */
          margin-bottom: 8px;
        }

        &__subtitle {
          grid-area: subtitle;
          font-family: "Quicksand", sans-serif;
          font-size: 12px;
          font-weight: 600;
          text-align: left;
        }

        &__description {
          grid-area: description;
          font-size: 16px;
          color: var(--text-dark);
        }

        &__details {
          grid-area: details;
          font-size: 16px;
          color: var(--text-dark);
        }

        &__cta {
          grid-area: cta;
          width: 100%;
          .btn {
            width: fit-content;
          }
        }
      }
    }

    &__image {
      flex: 1;
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
        max-height: 600px;
      }
    }

    &--full {
      background-color: var(--off-white);
      width: 100%;
      padding: 0;
      .section-content {
        &__text {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 24px;
          flex: 1;
          padding: 32px 16px;

          &-form {
            width: 100%;
            max-width: 600px;
          }
        }

        &__title {
          font-family: "Mallorga", serif;
          font-size: 48px; /* Adjust headline size */
          margin-bottom: 8px;
          max-width: 600px;
          width: 100%;
          text-align: left;
          color: var(--primary);
        }

        &__subtitle {
          font-family: "Quicksand", sans-serif;
          font-size: 12px;
          font-weight: 600;
          max-width: 600px;
          width: 100%;
          text-align: left;
        }

        &__description {
          font-size: 16px;
          color: var(--text-dark);
          max-width: 600px;
          text-align: left;
        }

        &__cta {
          width: 100%;
          max-width: 600px;
          .btn {
            width: fit-content;
          }
        }

        &__image {
          flex: 1;
          text-align: right;
          max-width: 40%;

          img {
            max-width: 100%;
            height: auto;
            max-height: 1000px;
          }
        }

        &__form {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 24px;
          flex: 1;
          padding: 32px 16px;
        }
      }
    }
  }

  &-testimonial {
    width: 100%; /* Full width of the page */
    padding: 60px 16px;
    text-align: center; /* Center the text */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    &--accent {
      background-color: var(--off-white);
    }

    &__quote {
      color: var(--text-dark); /* White text for contrast */
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 24px;
      max-width: 1200px;

      &-title {
        font-family: "Mallorga", serif;
        font-size: 32px; /* Adjust headline size */
      }

      &-body {
        font-size: 18px;
      }

      &-client {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 768px) {
  .section {
    &-banner {
      &__content {
        &-title {
          font-family: "Mallorga", serif;
          font-size: 32px; /* Adjust headline size */
          margin-bottom: 24px;
        }

        &__description {
          font-size: 14px;
        }
      }
    }
    &-hero {
      height: 600px;
      background-position: top right -250px; /* Center the image */

      &__content {
        &-title {
          font-size: 32px;
        }
      }
    }

    &__content {
      &-scrollable {
        gap: 24px;
        .card {
          width: 80%;

          &__content {
            &-title {
              font-size: 24px;
            }
            &-description {
              font-size: 14px;
            }
          }
        }
      }

      &-three-col {
        display: grid;
        grid-template-columns: 1fr;

        .card-title {
          font-size: 14px;
        }
      }
    }

    &-content {
      width: 100%;
      flex-direction: column;
      text-align: center;

      &__text {
        max-width: 400px;
        width: 100%;
      }

      &__subtitle {
        font-family: "Quicksand", sans-serif;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
      }

      &__description {
        font-size: 14px;
      }

      &__cta {
        display: flex;
        justify-content: center;
        .btn {
          width: fit-content;
        }
      }

      &__image {
        width: 100%;
        height: 100%;
      }

      &--full {
        .section-content {
          &__text {
            max-width: 400px;
            width: 100%;
            padding: 32px 16px 24px;
          }

          &__title {
            max-width: 400px;
            width: 100%;
            text-align: center;
            color: var(--primary);
          }

          &__subtitle {
            font-family: "Quicksand", sans-serif;
            font-size: 12px;
            font-weight: 600;
            width: 100%;
            text-align: center;
          }

          &__description {
            font-size: 14px;
            text-align: center;
          }

          &__image {
            flex: 1;
            text-align: center;
            width: 100%;
            height: auto;
            max-width: unset;

            img {
              max-width: 100%;
              height: 100%;
              max-height: unset;
            }
          }
        }
      }
    }
  }
}
